<div class="container">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div class="p-3">
    <button class="btn btn-primary mr-3" (click)="click()"><i class="fas fa-home"></i> Click Here</button>
    <button class="btn btn-warning mr-3" (click)="click()"><i class="fas fa-exclamation"></i> Click Here</button>
    <button class="btn btn-secondary" (click)="click()"><i class="fas fa-chess"></i> Click Here</button>
  </div>

  <blockquote>
    <i class="fas fa-cat fa-2x fa-pull-left"></i>
    hake treat bag stares at human while pushing stuff off a table pushes butt to face. 
    Sit in a box for hours see owner, run in terror immediately regret falling into bathtub why must they do that kick up litter or throw down all the stuff in the kitchen
  </blockquote>
</div>